
### Python ###
# Byte-compiled / optimized / generated / ...
.vscode
*/__pycache__/
*.py[cod]
*$py.class
.hypothesis

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
bin
pyvenv.cfg
.coverage
coverage.xml
.pytest_cache
